# .gitignore

# Byte-compiled / optimized / package files
__pycache__
*.pyc
*.pyo
*.pyc
*.db
*.sqlite
*.log

# Virtual environment
venv/
env/
.virtualenvs/
*.env



# Streaming service cache
streaming_service/__pycache__/